.login_icon:hover {
    opacity: 0.3;
    cursor: pointer;
}

.login_icon {
    transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    opacity: 1;
}
.login_span {
    color: #ffffff;
    text-decoration: none;
}
    .login_span:hover {
        color: #ffffff;
        text-decoration: none;
        text-decoration-style: none;
        text-decoration-line: none;
    }